a.anchor#oferta(href="javascript:void(0)" title="Oferta")
section#oferta_section
  .slider#slider
    .slide.slide--full.bramy-garazowe
      .slide__content
        h2.slide__heading="Bramy garażowe"
        .slide__inner
          p="Brama jest jednym z najważniejszych detali wykończenia budynku. Powinna być funkcjonalna, solidna, bezpieczna i dopasowana wyglądem do elewacji."
          p="Wszystkie te warunki spełniają oferowane przez nas bramy:"
          dl.slide__list
            dt.slide__list__key
              span="Krispol"
            dd.slide__list__value
              p
                a(href="http://krispol.pl/wp-content/uploads/2015/08/katalog_bram_sierpien_v03_CGS_PL_25.08.2017-POP.pdf", target="_blank")="pobierz katalog"
            dt.slide__list__key
              span="Hormann"
            dd.slide__list__value
              p
                a(href="http://www.hormann.pl/fileadmin/_country/hoermann.pl/kataloge/86912-GST-Kurzversion-PL-0616.pdf", target="_blank")="pobierz katalog"
          p="Oferta firmy obejmuje:"
          - var bramy_items = ['bramy segmentowe', 'bramy segmentowe do użytku przemysłowego', 'bramy rolowane', 'boczne drzwi wejściowe']
          ul.list
            each val in bramy_items
              li.list__item=val
          a.slide__galleryLink(href="http://serwismoskito.pl/galeria/#15165812590292", target="_blank")="Realizacje"
    .slide.drzwi-zewnetrzne
      img.slide__image(src="assets/img/oferta-drzwi_zewnetrzne.jpg", alt="")
      .slide__content
        h2.slide__heading="Drzwi zewnętrzne"
        p="Drzwi zewnętrzne, są następnym wyeksponowanym detalem naszego budynku. Zakup drzwi wejściowych nie jest łatwy, wybór wzorów, kolorów, przeszkleń jest przeogromny. Poza tym, element ten służyć ma Państwu przez długie lata, dlatego wybrane przez Was drzwi powinny spełniać trzy podstawowe wymagania. Muszą być:"
        ul
          li="trwałe,"
          li="elastyczne,"
          li="funkcjonalne."
        p
          | Znakomitym wyborem będą oferowane przez nas drzwi 
          span.highlight="Wikęd"
          | : 
          a(href="http://wiked.pl/katalogi/katalogdrzwi1.pdf", title="Drzwi Wikęd")="pobierz katalog"
        p
          | Drzwi Zewnętrzne w 6 podstawowych liniach. Każdy z rodzajów dostępny jest w wielu wzorach, a każdy ze wzorów w kilku kolorach podstawowych oraz na specjalne zamówienie, w kolorach Palety RAL. Dzięki tak bogatej ofercie możecie Państwo tak dobrać drzwi, aby Wasz budynek nabrał szyku i elegancji nie rezygnując z trwałości i funkcjonalności i to wszystko za przystępną cenę.
        a.slide__galleryLink(href="http://serwismoskito.pl/galeria/#15165821013047", target="_blank")="Realizacje"
    .slide.drzwi-wewnetrzne
      img.slide__image(src="assets/img/oferta-drzwi_wewnetrzne.jpg", alt="")
      .slide__content
        h2.slide__heading="Drzwi wewnętrzne"
        p="Uważamy, że drzwi wewnętrzne są równie istotne, jak poszczególne meble je otaczające. Modne drzwi wewnętrzne sprawiają, że dana przestrzeń nabiera zupełnie nowego, wyjątkowego wyrazu. Owe modne drzwi, o czym nie można zapominać, spełniają także funkcje praktyczne."
        h3="Eleganckie drzwi do każdego wnętrza"
        p="W naszej obszernej ofercie znajdziesz drzwi największych i najbardziej renomowanych polskich producentów:"
        
        - let itemNames = ['Porta', 'Dre', 'Erkado', 'Pol-skone']
        - let itemLinks = ['https://www2.porta.com.pl/data/download/Katalog_PORTA_2017_2_dodruk_www1.pdf', 'http://www.dre.pl/index.php/katalogi-online/katalog-drzwi-dre-2017-1', 'http://erkado.pl/wp-content/uploads/2016/03/ERKADO-katalog-2016-www.pdf', 'http://www.pol-skone.pl/katalogi']
        
        dl.slide__list
          - for(let i = 0, len = itemNames.length; i < len; i++)
            dt.slide__list__key
              span=itemNames[i]
            dd.slide__list__value
              p
                a(href=itemLinks[i])="pobierz katalog"
        p="Choć czasem nie zdajesz sobie z tego sprawy, niemal każdego dnia drzwi otwierane i zamykane są dziesiątki razy. Dlatego też, dla ich prawidłowego i komfortowego użytkowania będzie miał wpływ fachowy dobry montaż."
        p="Nasze produkty wykonane są z wysokiej jakości materiałów, dzięki czemu zyskujesz gwarancję długotrwałego, bezproblemowego użytkowania i komfortu, nawet jeśli drzwi są mocno eksploatowane!"
        a.slide__galleryLink(href="http://serwismoskito.pl/galeria/#15165821260530", target="_blank")="Realizacje"
    .slide.systemy-przeciwsloneczne
      img.slide__image(src="assets/img/oferta-systemy_przeciwsloneczne.jpg", alt="")
      .slide__content
        h2.slide__heading="Systemy przeciwsłoneczne i moskitiery"
        p="Naszą specjalizacją są wszelakie systemy przeciwsłoneczne. Oferujemy szeroką gamę produktów, dopasowana do potrzeb najbardziej wymagających Klientów."
        p="W ofercie znajdują się:"

        - let moskitiery_items = ['żaluzje poziome i pionowe', 'rolety wewnętrzne', 'rolety zewnętrzne', 'moskitiery', 'zasłony rzymskie', 'maty rolowane', 'markizy', 'żaluzje drewniane']
        ul.list
          each val in moskitiery_items
            li.list__item=val

        p="Zapraszamy do kontaktu i zapoznania się z naszą ofertą."
        a.slide__galleryLink(href="http://serwismoskito.pl/galeria/#15165821390660", target="_blank")="Realizacje"
  - let slider_items = ['Bramy garażowe', 'Drzwi zewnętrzne', 'Drzwi wewnętrzne', 'Systemy przeciwsłoneczne i moskitiery']
  ul#slider__options
    each val, index in slider_items
      li
        a(href="javascript:void(0)")=val